
HostKeyAlgorithms +ssh-rsa

Host pind
  HostName woodmastr.gotdns.ch
  User pi
  Port 2222
  IdentityFile ~/.ssh/pikey
  ForwardX11 yes

Host pi4
  HostName 10.0.0.185
  User pi
  Port 22
  IdentityFile ~/.ssh/pikey
  ForwardX11 yes
  
Host amp
  User ubuntu
  HostName 130.61.130.149
  IdentityFile ~/.ssh/pikey
  ForwardX11 yes

Host amd
  User ubuntu
  HostName 138.2.179.13
  IdentityFile ~/.ssh/pikey
  ForwardX11 yes

Host amd2
  User ubuntu
  HostName 130.61.248.151
  IdentityFile ~/.ssh/pikey
  ForwardX11 yes

# usage example
#	git clone git@github.com:devskale/docker.git
# 	git@github.com

Host github.com
        User git
        Hostname github.com
        PreferredAuthentications publickey
        IdentityFile ~/.ssh/id_rsa

# git2 account, the keyfile is different
# usage example
# 	git clone git@git2-github.com:project/some.git
# 	git@git2-github.com
Host git2-github.com
	HostName github.com
	User git
	IdentityFile ~/.ssh/keyfile2
